# repositorios do csv

In [2]:
import pandas as pd 
import numpy as np
import os
import sys
import argparse

In [6]:
import os
print(os.getcwd())  # Para ver o diretório atual

/home/maria/IntuitiveCare

In [15]:
data2023 = pd.read_csv('database/1T2023.csv', encoding='latin1', sep=';')
data2024 = pd.read_csv('database/1T2024.csv', encoding='latin1', sep=';')
dataOperadora = pd.read_csv('database/Relatorio_cadop.csv', encoding='latin1', sep=';')

In [16]:
data2023.head()

,DATA,REG_ANS,CD_CONTA_CONTABIL,DESCRICAO,VL_SALDO_INICIAL,VL_SALDO_FINAL
0,2023-01-01,360783,12391,OUTROS CRÃDITOS DE OPERAÃÃES DE ASSISTÃNCI...,0,0
1,2023-01-01,360783,123911,Cobertura Assistencial com PreÃ§o Preestabelecido,0,0
2,2023-01-01,360783,12391101,Resseguros,0,0
3,2023-01-01,360783,123911011,Reembolso de Sinistros pendentes de liquidaÃ§Ã£o,0,0
4,2023-01-01,360783,123911012,Reembolso de Sinistros liquidados,0,0

In [17]:
data2024.head()

,DATA,REG_ANS,CD_CONTA_CONTABIL,DESCRICAO,VL_SALDO_INICIAL,VL_SALDO_FINAL
0,2024-01-01,356476,463919,Outras Despesas com LocalizaÃ§Ã£o e Funcionamento,0,"91066,19"
1,2024-01-01,356476,46391901,Outras Despesas com LocalizaÃ§Ã£o e Funcionamento,0,"91066,19"
2,2024-01-01,356476,463919011,Despesas com Expediente,0,"34059,68"
3,2024-01-01,356476,463919012,Despesas com Seguros,0,"342,47"
4,2024-01-01,356476,463919013,Despesas com LocomoÃ§Ã£o,0,"21801,81"

In [18]:
dataOperadora.head()

,Registro_ANS,CNPJ,Razao_Social,Nome_Fantasia,Modalidade,Logradouro,Numero,Complemento,Bairro,Cidade,UF,CEP,DDD,Telefone,Fax,Endereco_eletronico,Representante,Cargo_Representante,Regiao_de_Comercializacao,Data_Registro_ANS
0,419761,19541931000125,18 DE JULHO ADMINISTRADORA DE BENEFÃCIOS LTDA,NaN,Administradora de BenefÃ­cios,RUA CAPITÃO MEDEIROS DE REZENDE,274,NaN,PRAÃA DA BANDEIRA,AlÃ©m ParaÃ­ba,MG,36660000,32.0,34624649.0,NaN,contabilidade@cbnassessoria.com.br,LUIZ HENRIQUE MARENDINO GONÃALVES,SÃCIO ADMINISTRADOR,6.0,2015-05-19
1,421545,22869997000153,2B ODONTOLOGIA OPERADORA DE PLANOS ODONTOLÃGI...,NaN,Odontologia de Grupo,RUA CATÃO,128,SALA 126,VILA ROMANA,SÃ£o Paulo,SP,5049000,11.0,34415852.0,NaN,labmarisol@gmail.com,MARISOL BECHELLI,SÃCIO ADMINISTRADORA,4.0,2019-06-13
2,421421,27452545000195,2CARE OPERADORA DE SAÃDE LTDA.,NaN,Medicina de Grupo,RUA: BERNARDINO DE CAMPOS,230,1Âº ANDAR,CENTRO,Campinas,SP,13010151,19.0,37901224.0,NaN,ans.plano@hospitalcare.com.br,RODRIGO PINHO RIBEIRO,REPRESENTANTE,5.0,2018-10-09
3,422908,41788751000100,3S ADMINISTRADORA DE BENEFICIOS LTDA,3S ADMINISTRADORA DE BENEFICIOS,Administradora de BenefÃ­cios,RUA ITÃLIA,33,SALA 6,JARDIM BONFIGLIOLI,JundiaÃ­,SP,13207280,11.0,42263247.0,NaN,pietrorocchi37@gmail.com,ANAMELIA MONTEIRO GUERRA ROCCHI,SÃCIO ADMINISTRADOR,6.0,2021-07-12
4,418030,13138885000131,A.P.S. ADMINISTRADORA DE BENEFÃCOS LTDA.,A.P.S. SAÃDE.,Administradora de BenefÃ­cios,RUA VOLUNTÃRIOS DA PÃTRIA,2525,CONJUNTO 143 - SALA 01,SANTANA,SÃ£o Paulo,SP,2401000,11.0,45223468.0,NaN,diretoria@apssaude.com.br,PERCÃVEL GAETA,SÃ³CIO-ADMINISTRADOR E REPRESEN,4.0,2011-05-05

In [ ]:
data2024.isnull().sum(), data2023.isnull().sum()

(DATA                 0
 REG_ANS              0
 CD_CONTA_CONTABIL    0
 DESCRICAO            0
 VL_SALDO_INICIAL     0
 VL_SALDO_FINAL       0
 dtype: int64,
 DATA                 0
 REG_ANS              0
 CD_CONTA_CONTABIL    0
 DESCRICAO            0
 VL_SALDO_INICIAL     0
 VL_SALDO_FINAL       0
 dtype: int64,
 Registro_ANS                   0
 CNPJ                           0
 Razao_Social                   0
 Nome_Fantasia                155
 Modalidade                     0
 Logradouro                     0
 Numero                         0
 Complemento                  560
 Bairro                         0
 Cidade                         0
 UF                             0
 CEP                            0
 DDD                          110
 Telefone                     108
 Fax                          599
 Endereco_eletronico            2
 Representante                  0
 Cargo_Representante            0
 Regiao_de_Comercializacao    130
 Data_Registro_ANS              0
 dtype: int64)

-- Criando a estrutura das tabelas para armazenar os dados

-- Tabela para os dados financeiros das operadoras
CREATE TABLE demonstracoes_contabeis (
    id SERIAL PRIMARY KEY,
    trimestre VARCHAR(10),
    ano INT,
    codigo_operadora VARCHAR(20),
    nome_operadora VARCHAR(255),
    despesas_eventos_saude NUMERIC(15,2)
);

-- Tabela para os dados cadastrais das operadoras
CREATE TABLE operadoras_ativas (
    id SERIAL PRIMARY KEY,
    codigo_operadora VARCHAR(20) UNIQUE,
    nome_operadora VARCHAR(255),
    cnpj VARCHAR(18),
    modalidade VARCHAR(100)
);

-- Importação dos arquivos CSV (Substitua 'caminho_arquivo' pelo caminho real)
-- No PostgreSQL, use a função COPY:
COPY demonstracoes_contabeis(trimestre, ano, codigo_operadora, nome_operadora, despesas_eventos_saude)
FROM 'caminho_arquivo/1T2023.csv'
DELIMITER ';' CSV HEADER ENCODING 'UTF8';

COPY demonstracoes_contabeis(trimestre, ano, codigo_operadora, nome_operadora, despesas_eventos_saude)
FROM 'caminho_arquivo/2T2024.csv'
DELIMITER ';' CSV HEADER ENCODING 'UTF8';

COPY operadoras_ativas(codigo_operadora, nome_operadora, cnpj, modalidade)
FROM 'caminho_arquivo/Relatorio_cadop.csv'
DELIMITER ';' CSV HEADER ENCODING 'UTF8';

-- No MySQL, use LOAD DATA INFILE:
-- Certifique-se de que o MySQL permite LOAD DATA LOCAL INFILE
-- (pode ser necessário ativá-lo com --local-infile=1)
LOAD DATA LOCAL INFILE 'caminho_arquivo/1T2023.csv'
INTO TABLE demonstracoes_contabeis
FIELDS TERMINATED BY ';'
LINES TERMINATED BY '\n'
IGNORE 1 LINES;

LOAD DATA LOCAL INFILE 'caminho_arquivo/2T2024.csv'
INTO TABLE demonstracoes_contabeis
FIELDS TERMINATED BY ';'
LINES TERMINATED BY '\n'
IGNORE 1 LINES;

LOAD DATA LOCAL INFILE 'caminho_arquivo/Relatorio_cadop.csv'
INTO TABLE operadoras_ativas
FIELDS TERMINATED BY ';'
LINES TERMINATED BY '\n'
IGNORE 1 LINES;

-- Consulta para as 10 operadoras com maiores despesas no último trimestre
SELECT nome_operadora, SUM(despesas_eventos_saude) AS total_despesas
FROM demonstracoes_contabeis
WHERE ano = 2024 AND trimestre = '2T'
GROUP BY nome_operadora
ORDER BY total_despesas DESC
LIMIT 10;

-- Consulta para as 10 operadoras com maiores despesas no último ano
SELECT nome_operadora, SUM(despesas_eventos_saude) AS total_despesas
FROM demonstracoes_contabeis
WHERE ano = 2023
GROUP BY nome_operadora
ORDER BY total_despesas DESC
LIMIT 10;

In [20]:
dataOperadora.isnull().sum()

Registro_ANS                   0
CNPJ                           0
Razao_Social                   0
Nome_Fantasia                155
Modalidade                     0
Logradouro                     0
Numero                         0
Complemento                  560
Bairro                         0
Cidade                         0
UF                             0
CEP                            0
DDD                          110
Telefone                     108
Fax                          599
Endereco_eletronico            2
Representante                  0
Cargo_Representante            0
Regiao_de_Comercializacao    130
Data_Registro_ANS              0
dtype: int64

In [ ]:
# tratar a tabela de operadora pois contem muitos dados nulos

In [21]:
dataOperadora['Nome_Fantasia'].head(15)

0                                    NaN
1                                    NaN
2                                    NaN
3        3S ADMINISTRADORA DE BENEFICIOS
4                         A.P.S. SAÃDE.
5                         ABERTTA SAÃDE
6                                    NaN
7                         ABRANGE SAÃDE
8                              AD SALUTE
9                               ADM LIFE
10    GÃIA ADMINISTRADORA DE BENEFICIOS
11                                ADRESS
12                                   NaN
13                                   NaN
14             AFFIANCE LIFE BENEFÃCIOS
Name: Nome_Fantasia, dtype: object

In [ ]:
dataOperadora = dataOperadora.dropna(subset=['Nome_Fantasia'])